<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <header>
        <h1>Livraria Encanto Paralelo</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/tabela1">Tabela 1</a></li>
                <li><a href="/tabela2">Tabela 2</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <p>&copy; 2023 Livraria Encanto Paralelo. Todos os direitos reservados.</p>
    </footer>
    <script src="/js/script.js"></script>
</body>
</html>